@import './store/variables';

.header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  padding: 3rem;
  margin: auto;
  width: 75%;
  cursor: default;
  transition: all .15s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px $primary-color;
  }

  h5,
  h4,
  h3,
  h2,
  h1 {
    font-size: 2rem;
    color: $primary-color;
  }
}
