// COLORS //
$primary-color: #45A29E;
$logo-color: #44a29e;

// BACKGROUND COLORS //
$bg-primary-color: #1f1f1f;
$bg-secondary-color: #2f2f2f;

$bg-nav: #323232;

// WIDTH //
$width-primary: 66%;

// BORDER RADIUS //
$br-primary: 5px;