@import './store/_variables.scss';

.footer {
  background-color: salmon;
  border-radius: 5px 5px 0 0;
  width: $width-primary;
  margin: 0 auto;
  padding: 1rem 0;

  span {
    display: block;
    text-align: center;
  }
}
