@import "store/_variables.scss";

.navigation-container {
  display: inline-block;
  width: 100%;
  z-index: 100;
  position: absolute;
  top: 30px;
  left: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  white-space: nowrap;
  background-color: $bg-nav;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  margin: 0 auto;
  width: $width-primary;
  border-radius: 0 0 $br-primary $br-primary;

  .logo {
    width: 9rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  //.navigation__logo {
  //  font-size: 2rem;
  //  letter-spacing: 1px;
  //
  //  & span {
  //    color: $primary-color;
  //  }
  //}

  .navigation__list {
    display: inherit;
    flex-direction: row;
    list-style-type: none;
    gap: 1.5rem;

    .navigation__list-item {
      button {
        outline: none;
        border: none;
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
        background-color: $bg-secondary-color;
        color: white;
        border-radius: $br-primary;
        opacity: 0.8;
        transition: 0.1s all ease-in-out;

        &:hover {
          opacity: 1;
          transform: scale(1.05);
        }
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
}
